<div class="list-wrapper container">
  <app-sidebar [products]="products" (checkedFilters)="makeFiltring($event)"> </app-sidebar>
  <div class="column">
    <div>
      <div class=filter-bar-wrapper>
        <div class="filter-results" id="filter-item" *ngIf="products">
          <div class=" products-length ">
            {{products.length}}
          </div>
          <div *ngIf="products.length>1; else product"> Products
          </div>
          <ng-template #product>
            Product
          </ng-template>
        </div>
        <div class="sort-products" id="filter-item">
          <a sortable-table (sorted)="onSorted($event)" class="sort-by">sort by:</a>
          <a sorting="name" id="name"> name </a>
          <span class=divider></span>
          <a sorting="price" id="price"> price</a>
          <span class=divider></span>
          <a sorting="id" id="recent"> recent</a>
        </div>
      </div>
    </div>
    <div class="items-list">
      <div *ngFor="let product of products" class=" item ">
        <div class="item-image" (click)="goToDetails(product)">
          <img src="../../../assets/img/products/{{product.id}}.jpg ">
        </div>
        <div class="item-detail ">
          <div class="description">
            <a (click)="goToDetails(product)">
              <div class="name">
                {{product.name | slice:0:40 }}
              </div>
            </a>
            <a>
              <span>{{product.details.category}}</span>
            </a>
            <div class="price-container ">
              <span>${{product.price}}</span>
            </div>
          </div>
        </div>
        <div class="item-info ">
          <div>
            <div class="rating ">
              <span> Rating </span>
              <div class="rating-stars ">
                <app-rating [declaredRating]="declaredRating "> </app-rating>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>