<header>
  <div class="info-bar">
    <div class="container">
      <div class="logo">
        <img src="../../../assets/img/logo.png" />
      </div>
      <nav>
        <div class="items">
          <a class="item">Home</a>
          <div class="nav-spacer"></div>
          <a class="item">Profile</a>
          <div class="nav-spacer"></div>
          <div class="item">
            <a>Contact</a>
            <i class="fa fa-phone"></i>
          </div>
          <div class="nav-spacer"></div>
          <div class="item">
            <a>Logout</a>
            <i class="fa fa-user"></i>
          </div>
          <div class="align-justify">
            <i class="fa fa-align-justify"></i>
          </div>
        </div>
      </nav>
    </div>
  </div>
  <div class="shopping-bar">
    <nav>
      <div class="categories container">
        <a>
          football
        </a>
        <a>
            fitness
          </a>
        <a>
            rugby
          </a>
        <a>
              running
            </a>
        <a>
              accessories
            </a>
        <a routerLink='/products' routerLinkActive="router-link-active">
              All products
            </a>
      </div>
    </nav>
  </div>
</header>