<header>
  <div class="info-bar">
    <div class="info-wrapper container">
      <div class="logo">
        <img src="../../../assets/img/logo.png" />
      </div>
      <nav>
        <div class="items">
          <div class="item">
            <a>
             Home
          </a>
          </div>
          <div class="nav-spacer"></div>
          <div class="item">
            <a>Profile</a>
          </div>
          <div class="nav-spacer"></div>
          <div class="item">
            <a>Contact
            <div>
            <i class="fa fa-phone"></i>
          </div>
          </a>
          </div>
          <div class="nav-spacer"></div>
          <div class="item">
            <a>Logout
              <div>
            <i class="fa fa-user"></i>
              </div>
          </a>
          </div>
          <div class="nav-spacer"></div>
          <div class="item">
            <a class="bag-content" routerLink='/cart' routerLinkActive="router-link-active">
            MY BAG
            <div class="bag">
            <i class="fa fa-shopping-bag"></i>
            <div class='bag-counter' *ngIf="bagCount>0">
              {{bagCount}}
            </div>
            </div>
          </a>
          </div>
          <div class="align-justify">
            <i class="fa fa-align-justify"></i>
          </div>
        </div>
      </nav>
    </div>
  </div>
  <div class="shopping-bar">
    <nav>
      <div class="categories container">
        <a>
          MENS
        </a>
        <a>
          WOMENS
        </a>
        <a>
          SPORT
        </a>
        <a routerLink='/products' routerLinkActive="router-link-active">
          All products
        </a>
      </div>
    </nav>
  </div>
</header>