<div class="product-content" *ngIf='product'>
  <div class="product-header">
    <div class="container">
      <span class="back" (click)="goBack()">
      <i class="fa fa-arrow-circle-left"></i>
      <span>Back</span>
      </span>
      <span> {{product.details.category}} </span>
      <span>
        <i class="fa fa-angle-right"></i>
    </span>
      <span>{{product.details.brand}} </span>
      <span>
    <i class="fa fa-angle-right"></i>
    </span>
      <span>{{product.name}}</span>
    </div>
  </div>
  <div class="product-wrapper">
    <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
    <div class="order-info">
      <div class="description ">
        <div class="brand-logo">
          <img src="../../../assets/img/brands/{{product.details.brand}}.jpg ">
        </div>
        <a class="brand">
          {{product.details.brand}}
        </a>
        <a class="name">
          <h2>{{product.name}}</h2>
        </a>
        <a class="category">
          {{product.details.category}}
        </a>
        <a class="rating ">
           Rating 
          <div class="rating-stars ">
            <app-rating [declaredRating]="declaredRating "> </app-rating>
          </div>
        </a>
        <div class="price">
          <h2> ${{product.price}} </h2>
        </div>
        <div class="size-picker-wrapper">
          <div class="size-picker" (click)='switchDropdownStatus()'>
            <div *ngIf='selectedSize;else defaultSizeText'>
              {{selectedSize}}
            </div>
            <ng-template #defaultSizeText>
              Choose your size
            </ng-template>
            <div class='arrowInCircle'>
              <div *ngIf='dropdownStatus; else down'>
                <i class="fa fa-angle-up"></i>
              </div>
              <ng-template #down>
                <div>
                  <i class="fa fa-angle-down"></i>
                </div>
              </ng-template>
            </div>
          </div>
          <div class="dropdown" *ngIf="dropdownStatus">
            <div class="dropdown-menu">
              <div *ngFor="let offer of product.offers; index as i;">
                <div *ngIf="offer.quantity>0" class='size-item' (click)='selectSize(offer)'>{{offer.size}} </div>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="availability " [ngStyle]="{ 'visibility':dropdownStatus ? 'hidden' : 'visible' } ">
          <div class="available " *ngIf="product.quantity>0; else notAvailable">
            <div class="circle">
              <i class="fa fa-check"></i>
            </div>
            In stock, ready to despatch
          </div>
          <ng-template #notAvailable>
            <div class="not-available">
              <div class="circle">
                <i class="fa fa-times"></i>
              </div>
              Sold Out
            </div>
          </ng-template>
        </div> -->
      </div>
      <div class="item-info ">
        <div class="button-wrapper">
          <div *ngIf="!productAdded; else addToBag">
            <div class="btn btn-info btn-lg" (click)="addProduct(product)">
              <i class="fa fa-cart-arrow-down"></i> Add to Bag
            </div>
          </div>
          <ng-template #addToBag>
            <div class="btn btn-success btn-lg addedToBag">
              <i class="fa fa-check"></i> Added to Bag
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
  <div class="details">
    <h3>
      Product details
    </h3>
    {{product.description}}
  </div>
</div>